<div class="row">
  <div class="col-12">
<form (ngSubmit)="modificar()">
  <div class="mb-3">
    <label for="matricula" class="form-label">Matricula</label>
  <input type="text" name="matricula" [(ngModel)]="regAlumno.matricula" ngModel disabled class="form-control"  >
  </div>
  <div class="mb-3">
    <label for="nombre" class="form-label">Nombre</label>
  <input type="text" name="nombre" [(ngModel)]="regAlumno.nombre" placeholder="Nombre"class="form-control" >
  </div>
  <div class="mb-3">
    <label for="apaterno" class="form-label">Apaterno</label>
  <input type="text" name="apaterno" [(ngModel)]="regAlumno.apaterno" placeholder="Apaterno" class="form-control" >
  </div>
  <div class="mb-3">
    <label for="amaterno" class="form-label">Amaterno</label>
  <input type="text" name="amaterno" [(ngModel)]="regAlumno.amaterno" placeholder="Amaterno" class="form-control" >
  </div>
  <div class="mb-3">
    <label for="correo" class="form-label">Correo</label>
  <input type="email" name="correo" [(ngModel)]="regAlumno.correo" placeholder="Correo" class="form-control" >
  </div>
  <div class="mb-3">
    <button mat-flat-button color="accent" [routerLink]="['/verAlumnos']" >
      <mat-icon>cancel</mat-icon>Cancelar</button>

  <button mat-flat-button color="primary" type="submit">
    <mat-icon>save</mat-icon> Guardar</button>

  </div>
</form>
</div>
